In [3]:
#Q.1

In [ ]:
# Ans: we use for loop , when it is known the no of times execution of a block of code.
# we use while loop,when the no of times is unknown for execution of a block of code,execution will be depend on number of times the condition meet.
# eg. of for loop(to print name of students)

In [4]:
l=["akash","rohan","apurba"]
for i in l:
    print(i)

akash
rohan
apurba

In [ ]:
# eg. of while loop(printing  number which is divisible by 3 between 1 to 20 )

In [2]:
a=1
while a<=20:
    if a%3==0:
        print(a)
    a=a+1

3
6
9
12
15
18

In [ ]:
#Q.2

In [5]:
l=[1,2,3,4,5,6,7,8,9,10]
sum=0
for i in l:
    sum=sum+i
sum

55

In [6]:
prod=1
for i in l:
    prod=prod*i
prod

3628800

In [7]:
sum=0
i=1
while i<=10:
    sum=sum+i
    i=i+1
sum

55

In [8]:
prod=1
i=1
while i<=10:
    prod=prod*i
    i=i+1
prod

3628800

In [9]:
#Q.3

In [26]:
n=int(input("enter the unit of electricity consumed"))

if n>0 and n<=100:
    cost=4.5*n
    print("total electricity bill:Rs.", cost)
elif n>100 and n<=200:
    cost=((100*4.5)+(n-100)*6)
    print("total electricity bill:Rs.", cost)
elif n>200 and n<=300:
    cost=((100*4.5)+(100*6)+((n-200)*10))
    print("total electricity bill:Rs.", cost)
else:
    cost=((100*4.5)+(100*6)+(100*10)+((n-300)*20))
    print("total electricity bill:Rs.", cost)

enter the unit of electricity consumed 310

total electricity bill:Rs. 2250.0

In [27]:
#Q.4

In [32]:
list(range(1,101))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [34]:
l1=[]
for i in list(range(1,101)):
    i=i**3
    l1.append(i)
    i=i+1
    
l1

[1,
 8,
 27,
 64,
 125,
 216,
 343,
 512,
 729,
 1000,
 1331,
 1728,
 2197,
 2744,
 3375,
 4096,
 4913,
 5832,
 6859,
 8000,
 9261,
 10648,
 12167,
 13824,
 15625,
 17576,
 19683,
 21952,
 24389,
 27000,
 29791,
 32768,
 35937,
 39304,
 42875,
 46656,
 50653,
 54872,
 59319,
 64000,
 68921,
 74088,
 79507,
 85184,
 91125,
 97336,
 103823,
 110592,
 117649,
 125000,
 132651,
 140608,
 148877,
 157464,
 166375,
 175616,
 185193,
 195112,
 205379,
 216000,
 226981,
 238328,
 250047,
 262144,
 274625,
 287496,
 300763,
 314432,
 328509,
 343000,
 357911,
 373248,
 389017,
 405224,
 421875,
 438976,
 456533,
 474552,
 493039,
 512000,
 531441,
 551368,
 571787,
 592704,
 614125,
 636056,
 658503,
 681472,
 704969,
 729000,
 753571,
 778688,
 804357,
 830584,
 857375,
 884736,
 912673,
 941192,
 970299,
 1000000]

In [35]:
i=1
while i<=100:
    cube=i**3
    print(cube)
    i=i+1

1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000

In [37]:
l2=[]
for i in l1:
    if i%4==0 or i%5==0:
        l2.append(i)
l2

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [38]:
#Q.5

In [48]:
string="I want to become a data scientist"
vowel=0
for i in string:
    if i in "aeiouAEIOU":
        vowel=vowel+1
vowel

12