In [1]:
#Q.1

In [2]:
n=int(input("enter the percentage"))
if n>90:
    print("Grade is A")
elif n>80 and n<=90:
    print("Grade is B")
elif n>=60 and n<=80:
    print("Grade is C")
elif n<60:
    print("Grade is D")

enter the percentage 65

Grade is C

In [3]:
#Q.2
c=int(input("enter the cost price of bike"))
if c<=50000:
    print("road tax is 5%")
elif c>50000 and c<=100000:
    print("road tax is 10%")
else:
    print("road tax is 15%")

enter the cost price of bike 560000

road tax is 15%

In [10]:
#Q.3

In [2]:
m=input("enter the name of city")
if m=="Delhi":
    print("Monument is Red Fort")
elif m=="Agra":
    print("Monument is Taj Mahal")
elif m=="Jaipur":
    print("Monument is Jal Mahal")

enter the name of city Agra

Monument is Taj Mahal

In [ ]:
#Q.4

In [1]:
num=int(input("enter the number:"))
count=0
while True:
    num=num/3
    count=count+1
    if num<=10:
        break
print(count)

enter the number: 150

3

In [ ]:
#Q.5

In [2]:
#while loop is used for create a loop to execute a block of code till the time the codition is true.
#as eg. to print the number multiple of 2 and less than 20
l=[]
i=1
while i<=20:
    if i%2==0:
        l.append(i)
    i=i+1
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [1]:
#Q.6 use nested while loop to display 3 different pattern
i=1
while i<=5:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print()
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
i=5
while i<=5 and i>0:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print()
    i=i-1

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [5]:
i=1
while i<=5:
    j=1
    while j<=i:
        print(i,end=" ")
        j=j+1
    print()
    i=i+1

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
#Q.7/8

In [4]:
l=[]
i=1
while i<=10:
    l.append(i)
    i=i+1
    l.sort(reverse=True)
l

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]